################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspCoreData/App_Data/MyJobs_log.ldf
